@font-face {
	font-family: exposure-web;
	src: local('☺'),
		url('400.woff2') format('woff2'),
		url('400.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: exposure-web;
	src: local('☺'),
		url('400i.woff2') format('woff2'),
		url('400i.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
